@charset "UTF-8";

#headerBgColor{
	width: 100vw;
	height: 13vh;
	background-color: lightslategray;
	position: relative;

}

#headerContainer{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

#DlLogo{
	width: auto;
	height: 95%;
	display: flex;
	align-items: center;
}

#headerTitle{
	font-size: 35px;
	margin-left: 30px;
}

/* ハンバーガーメニュー */
#hamburgerMenu{
	width: 100px;
	height: 90%;
}

#hamburgerMenu span{
	width: 100%;
 	height: 1px;
 	background-color: #000;
 	margin-top: 2.8vh;
 	display: inline-block;
}

#menus{
	display: none;
	width: 15vw;
	height: 87.5vh;
	background-color: lightslategray;
	position: absolute;
	top: 12.5vh;
	right: 0px;
}
/*--- メニュー閉じ開き ---*/
#menusOpen{
	display: block;
}

#headerMenu{
	width: 100%;
	height: 60vh;
	display: flex;
	flex-flow: column;
	justify-content: space-around;
	align-items: center;
}

/**
 *  headerIcons.css から一部抜粋、改良
 */

.headerIcon, .headerIcon:before, .headerIcon:after, .headerIcon i, .headerIcon i:before, .headerIcon i:after { 
	transition: all 0.4s ease;
}


.menu.headerIcon:after {
	content: '';
	position: absolute;
	top: 6vh;
	width: 50px;
	height: 1px;
	background-color: currentColor;
}

.menu.headerIcon:before {
	content: '';
	position: absolute;
	top:3vh;
	width: 50px;
	height: 1px;
	background-color: currentColor;
}

.menu.headerIcon {
	color: #000;
	position: absolute;
	top: 4vh;
	width: 50px;
	height: 1px;
	background-color: currentColor;
}

.remove.headerIcon:after {
	content: '';
	position: absolute;
	top: 5vh;
	width: 50px;
	transform: rotate(-45deg);
	height: 1px;
	background-color: currentColor;
}

.remove.headerIcon:before {
	content: '';
	position: absolute;
	top: 5vh;
	width: 50px;
	transform: rotate(45deg);
	height: 1px;
	background-color: currentColor;
}

.remove.headerIcon {
	color: #000;
	position: absolute;
	margin-left: 3px;
	margin-top: 10px;
	height: 1px;
	background-color: currentColor;
}


