@charset "utf-8";

/* commonColor */

#formArea {
    background: radial-gradient(circle at 100%, #6f6e6e, #979797 50%, #d2d2d2 75%, #afafaf 60%);
    height: 100%;
	border: 1px solid #333;
}

/* -------------------------------- */

form {
    margin-top: 10%;
}

#title {
    border: solid 1px #000;
}

#comment {
    border: solid 1px #000;
    width: 80%;
    border-radius: 3px;
    background-color: #fff;
    margin-left: 40px;
}

#flexBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    width: 90%;
}

label {
    display: inline-block;
    width: 100px;
    margin-bottom: 10px;
}

input, select {
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input {
    padding: 5px;
    background-color: #fff;
}

/* -------------------------------- */

/* aside */

aside {
    width: 30%;
    text-align: end;
    height: 100%;
}

select {
    background-color: #fff;
}

#status {
    margin-top: 10%;
    border: solid 1px #000;
    border-radius: 3px;
    text-align: start;
}

#priority {
    margin-top: 10%;
    border: solid 1px #000;
    border-radius: 3px;
    text-align: start;
}

#responsiblePerson {
    margin-top: 10%;
    border: solid 1px #000;
    border-radius: 3px;
    text-align: start;
}
/* -------------------------------- */

/* article */

article {
	margin-top:60px;
}

#search {
    border: solid 1px #000;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

#startDate {
    border: solid 1px #000;
    border-radius: 3px;
}

#dueDate {
    border: solid 1px #000;
    border-radius: 3px;
}

#laborCost {
    border: solid 1px #000;
    border-radius: 3px;
}

#progress { 
    border: solid 1px #000;
}

#submit {
    text-align: center;
    background-color:rgb(46, 227, 166);
    width: 100px;
    border: solid 1px #000;
    border-radius: 5px;
    margin-left: 50px;
}
